#header
{
  background: url("../../images/upfeathers.png") repeat 0 0;
}

.request-btn
{
  margin: 10px;
}

ul
{
  overflow:hidden;
}
li
{
  float:left;
}
li.login
{
  float:right;
  margin-right: 10px;
}
